{sub_dirs, ["rel"]}.

{deps, [
    {lager, "2.0.3" , {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
    {rkvs, ".*", {git, "git://github.com/ricardobcl/rkvs.git", "master"}},
    {folsom , ".*", {git, "git@github.com:boundary/folsom.git", "master"}},
    {riak_core, "2.0.0", {git, "git://github.com/basho/riak_core", {tag, "2.0.0"}}},
    {reloader, ".*", {git, "git://github.com/oinksoft/reloader.git", "master"}},
    {glc, ".*", {git, "git@github.com:ricardobcl/GlobalLogicalClocks.git", "master"}}
]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{cover_enabled, true}.
