{sub_dirs, ["rel"]}.

{deps, [
    {color, ".*", {git, "git://github.com/julianduque/erlang-color"}, "master"},
    {rkvs, ".*", {git, "git://github.com/ricardobcl/rkvs", "master"}},
    {riak_core, ".*", {git, "git://github.com/basho/riak_core", {tag, "2.1.2"}}},
    {glc, ".*", {git, "git://github.com/ricardobcl/GlobalLogicalClocks", "master"}},
    {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {branch, "master"}}},
    {eflame, ".*", {git, "git://github.com/slfritchie/eflame", "master"}},
    {ranch, ".*", {git, "git://github.com/ninenines/ranch", "master"}},
    {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}}
]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

%% Plugin usage
{plugins, [rebar_lock_deps_plugin]}.
