[
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "{{ring_state_dir}}"},
              {platform_data_dir, "{{platform_data_dir}}"},

              %% Default ring size
              {ring_creation_size, 16},

              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, {{handoff_port}} }
             ]},
              
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 1048576},    % 1 MB max file size
         {error_logger_mf_maxfiles, 1}           % 1 files max
         ]},

 %% DottedDB config
{dotted_db, [
        %% Default storage engine
        %% {storage_backend, ets | leveldb | bitcask}
        {storage_backend, bitcask},

        %% protocol_port is the TCP port that DottedDB uses for
        %% external API.
        {protocol_port, {{protocol_port}} },

        %% Bitcask config
        {bitcask_io_sync, none},
        {bitcask_io_mode, nif},
        {bitcask_merge_window, never}
    ]}
].
